/*variables css*/

:root{

    --color1: #4D4D4D;
    --color2: #FE45D7;
    --color3: #000;
    --color4: #fff;
    --color5: #FE9ED3;
    --color6: #EC1C24;
    --color7: #8CC63F;
    --color8: #575756;
    --color9: #0071BC;
    --color10: #333333;
    --color11: #E0E0E3;
    --color12: #E5F0F9;

    --fontOne: 'Montserrat', sans-serif;
    --fontTwo: 'Baloo Bhaina 2', cursive;

    --font-size-1: 22px;
    --font-size-2: 35px;
    --font-size-3: 40px;
    --font-size-4: 50px;
    --font-size-5: 60px;
    --font-size-6: 90px;
    --font-size-7: 18px;
}

/*otros estilos*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
a{
    color: var(--color10);
    font-family: var(--fontOne);
    font-size: 18px;
    font-weight: 700;
    
}
.zoom{
    transition: transform ease-in-out .4s
    
}
.zoom:hover{
    transform: scale(1.1);
}
.msd-margin-top-1{
    margin-top: 80px;
}
.msd-margin-top-2{
    margin-top: 30px;
}
.msd-margin-left{
    margin-left: 10px;
}
.msd-margin-left-2{
    margin-left: 30px;
}
.msd-position{
    margin-top: -60px;
}
.msd-position-2{
    margin-top: 70px;
}
.pasos {
    width: 230px;
    background: var(--color2);
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);
    margin: 0 auto 0 auto;
}
.display-redes-1{
    display: block;
}
.display-redes-2{
    display: none;
}
/*fin otros estilos*/

/*secciones*/
.msd-section-1{
    width: 100%;
    padding: 50px 0 50px 0;
    background-color: var(--color11);
}
.msd-section-2{
    width: 100%;
    padding: 50px 0 50px 0;
    text-align: center;
}
.msd-section-3{
    padding: 50px 0 0 0;
    text-align: center;
    background-color: var(--color5);
}
.line{
    background-color: var(--color2);
    height: 20px;
}
.msd-section-4{
    padding: 50px 0 0 0;
    text-align: center;
}
.msd-section-5{
    padding: 50px 0 50px 0;
    text-align: center;
}
.msd-section-6{
    padding: 50px 0 50px 0;
    text-align: center;
    background-color: var(--color7);
}
.msd-section-7{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50px 0;
    background-color: var(--color12);
}
.msd-section-8{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50px 0;
}
.msd-section-9{
    background-color: var(--color12);
    text-align: center;
    padding: 50px 0 50px 0;
}
/*fin secciones*/

/*CONTENDORES*/
.contenedor-msd-section{
    width: 80%;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    margin: 0 auto 0 auto;
    background: #fff;
    -webkit-box-shadow: 0px 2px 68px 8px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 2px 68px 8px rgba(0,0,0,0.62);
    box-shadow: 0px 2px 68px 8px rgba(0,0,0,0.62);
    text-align: center;
    padding: 20px 0 20px 0;
}

.contenedor-msd{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.contenedor-2-msd-section-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 150px;
    margin: 20px auto 0 auto;
    background-color: var(--color5);
    border-radius: 100px 100px 100px 100px;
    -moz-border-radius: 100px 100px 100px 100px;
    -webkit-border-radius: 100px 100px 100px 100px;
}
.msd-contenedor-section-8{
    width: 70%;
    height: 250px;
    text-align: center;
    background-image: url("img/caja.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.content-box-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content-box-img-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.msd-contenedor-redes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/*FIN CONTENEDORES*/

/*imagenes*/
.img-marcas{
    margin: 40px;
}
.msd-img{
    margin: 30px 0 30px 0;
}
.msd-logo{
    margin: 10px 0 10px 0;
}
.msd-img-mujeres{
    margin: 20px 0 20px 0;
    width: 90%;
}
.img-examen{
    margin: 20px;
}
.msd-redes{
    margin: 30px 60px 0 60px;
}
/*fin imagenes*/

/*estilos textox*/
.style-msd-section-1-p{
    font-family: var(--fontTwo);
    font-size: var(--font-size-3);
    line-height: 40px;
    color: var(--color1);
}

.style-msd-section-2-t{
    font-family: var(--fontOne);
    font-size: var(--font-size-6);
    color: var(--color2);
    font-weight: 900;
}
.style-msd-section-3-t{
    font-family: var(--fontOne);
    font-size: var(--font-size-5);
    color: var(--color4);
    font-weight: 900;
    line-height: 70px;
    margin: 0 0 20px 0;
}
.style-msd-section-5-t{
    font-family: var(--fontOne);
    font-size: var(--font-size-6);
    color: var(--color6);
    font-weight: 900;
    line-height: 90px;
    margin: 0 0 20px 0;
}
.style-msd-section-5-t-2{
    font-family: var(--fontOne);
    font-size: var(--font-size-6);
    color: var(--color7);
    font-weight: 900;
    line-height: 90px;
    margin: 0 0 20px 0;
}
.style-msd-section-6-t{
    font-family: var(--fontOne);
    font-size: var(--font-size-6);
    color: var(--color4);
    font-weight: 900;
    line-height: 90px;
    margin: 0 0 20px 0;
}
.style-msd-section-6-t-2{
    font-family: var(--fontOne);
    font-size: var(--font-size-4);
    color: var(--color4);
    font-weight: 900;
    margin: -15px 0 0 0;
}
.style-msd-section-7-t{
    font-family: var(--fontOne);
    font-size: var(--font-size-6);
    color: var(--color7);
    font-weight: 900;
    line-height: 90px;
    margin: 0 0 20px 0;
}
.style-msd-section-8-t{
    font-family: var(--fontOne);
    font-size: var(--font-size-6);
    color: var(--color9);
    font-weight: 900;
    line-height: 90px;
    margin: 0 0 20px 0;
}
.style-msd-section-2-p{
    font-family: var(--fontTwo);
    font-size: var(--font-size-3);
    line-height: 40px;
    color: var(--color1);
}
.style-msd-section-2-p-2{
    font-family: var(--fontTwo);
    font-size: var(--font-size-3);
    line-height: 40px;
    color: var(--color3);
}
.style-msd-section-2-p-3{
    font-family: var(--fontTwo);
    font-size: var(--font-size-3);
    line-height: 40px;
    color: var(--color3);
    text-align: left;
    margin-left: 15px;
}
.style-msd-section-2-p-4{
    font-family: var(--fontTwo);
    font-size: var(--font-size-3);
    line-height: 40px;
    color: var(--color4);
}
.style-msd-section-3-p{
    font-family: var(--fontTwo);
    font-size: var(--font-size-3);
    line-height: 40px;
    color: var(--color1);
}
.style-msd-section-3-p-2{
    font-family: var(--fontTwo);
    font-size: var(--font-size-3);
    line-height: 40px;
    color: var(--color4);
    margin: 30px 0 60px 0;
}
.style-msd-section-3-p-3{
    font-family: var(--fontTwo);
    font-size: var(--font-size-3);
    line-height: 40px;
    color: var(--color4);
    margin: 10px 0 40px 0;
}
.style-msd-section-4-p{
    font-family: var(--fontTwo);
    font-size: var(--font-size-3);
    line-height: 40px;
    color: var(--color2);
    margin: 0 0 40px 0;
}
.style-msd-section-5-p{
    font-family: var(--fontTwo);
    font-size: var(--font-size-3);
    line-height: 40px;
    color: var(--color3);
}
.style-msd-section-5-p-2{
    font-family: var(--fontOne);
    color: var(--color1);
    font-size: var(--font-size-6);
    font-weight: 900;
}
.style-msd-section-5-p-3{
    font-family: var(--fontOne);
    color: var(--color1);
    font-size: var(--font-size-5);
    font-weight: 900;
}
.style-msd-section-5-p-4{
    font-family: var(--fontOne);
    color: var(--color1);
    font-size: var(--font-size-1);
    font-weight: 900;
    text-align: left;
}
.style-msd-section-6-p{
    font-family: var(--fontTwo);
    color: var(--color3);
    font-size: var(--font-size-3);
    line-height: 35px;
    text-align: center;
}
.style-msd-section-8-p{
    font-family: var(--fontOne);
    color: var(--color1);
    font-size: var(--font-size-3);
    font-weight: 500;
}
.style-msd-section-8-p-2{
    font-family: var(--fontOne);
    color: var(--color1);
    font-size: var(--font-size-2);
    font-weight: 700;
}
.style-msd-section-9-p{
    font-family: var(--fontOne);
    color: var(--color3);
    font-size: var(--font-size-7);
    font-weight: 300;
    margin: 30px 0 0 0;
}

.style-title-pasos{
    font-family: var(--fontOne);
    color: var(--color4);
    text-transform: uppercase;
    font-size: var(--font-size-4);
    font-weight: 900;
}

/*fin estilos textox*/

/* On screens that are 992px or less*/
@media screen and (max-width: 992px) {
    .msd-logo{
        width: 250px;
        margin: 10px 0 10px 0;
    }
    .msd-margin-top-1{
        margin-top: 40px;
    }
    .msd-margin--top-2{
        margin-top: 20px;
    }
    .msd-img-mujeres{
        width: 90%;
    }

    .contenedor-msd-section{
        width: 100%;
        margin-top: -70px;
        border-radius: 0px 0px 0px 0px;
        -moz-border-radius: 0px 0px 0px 0px;
        -webkit-border-radius: 0px 0px 0px 0px;
        background: #fff;  /* fallback for old browsers */
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
        text-align: center;
        padding: 20px 10px 20px 10px;
    }
    .style-msd-section-1-p{
        font-size: var(--font-size-2);
        line-height: 40px;
    }
    .style-msd-section-2-t{
        font-size: var(--font-size-3);
        font-weight: 900;
    }
    .style-msd-section-2-p{
        font-size: var(--font-size-2);
        line-height: 40px;
    }
    .style-msd-section-2-p-2{
        font-size: var(--font-size-2);
    }
    .contenedor-2-msd-section-2{
        width: 90%;
        height: 300px;
        margin: 20px auto 0 auto;
        border-radius: 20px 20px 20px 20px;
        -moz-border-radius: 20px 20px 20px 20px;
        -webkit-border-radius: 20px 20px 20px 20px;
    }
    .style-msd-section-2-p-4{
        font-size: var(--font-size-2);
    }
    .style-msd-section-3-t{
        font-size: var(--font-size-3);
        line-height: 50px;
    }
    .style-msd-section-3-p{
        font-size: var(--font-size-2);
    }
    .style-msd-section-5-t{
        font-size: var(--font-size-4);
        line-height: 50px;
    }
    .style-msd-section-6-t{
        font-size: var(--font-size-4);
        line-height: 50px;
    }
    .img-grafico{
        width: 70%;
        margin-bottom: 40px;
    }
    .msd-img{
        width: 90%;
    }
    .img-personas-2{
        width: 90%;
    }
    .style-msd-section-8-t{
        font-size: var(--font-size-4);
        line-height: 50px;
    }
    .img-personas-4{
        width: 90%;
    }
    .img-logo-cop{
        width: 90%;
    }
    .img-capsula{
        width: 60%;
        margin: 40px 0 40px 0;
    }
    .img-marcas{
        width: 70%;
        margin: 30px;
    }
    .msd-slogan{
        width: 100%;
        margin: 30px 0 30px 0;
    }
    .style-msd-section-8-p{
        font-size: var(--font-size-2);
    }
    .style-msd-section-8-p-2{
        font-size: var(--font-size-7);
        margin-top: 20px;
    }
    .display-redes-1{
        display: none;
    }
    .display-redes-2{
        display: block;
    }
    .msd-btn-donaciones{
        width: 70%;
    }
  }

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
    .style-msd-section-3-t{
        font-size: var(--font-size-2);
    }
    .style-msd-section-3-p{
        font-size: var(--font-size-2);
    }
    .img-examen{
        width: 90%;
    }
}