/*variables css*/

:root{

    --color1: #4D4D4D;
    --color2: #FE45D7;
    --color3: #000;
    --color4: #fff;
    --color5: #FE9ED3;
    --color6: #EC1C24;
    --color7: #8CC63F;
    --color8: #575756;
    --color9: #0071BC;
    --color10: #333333;

    --fontOne: 'Montserrat', sans-serif;
    --fontTwo: 'Baloo Bhaina 2', cursive;

    --font-size-title: 90px;
    --font-size-1: 35px;
    --font-size-2: 40px;
    --font-size-3: 50px;
    --font-size-4: 60px;
    --font-size-5: 22px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.margin-left{
    margin-left: 10px;
}
.margin-left-2{
    margin-left: 30px;
}
.margin-right{
    margin-right: 10px;
}
.margin-top{
    margin-top: 50px;
}
.font-size-title{
    font-size: var(--font-size-title);
}
.font-size-1{
    font-size: var(--font-size-1);
}
.font-size-2{
    font-size: var(--font-size-2);
}
.font-size-3{
    font-size: var(--font-size-3);
}
.font-size-4{
    font-size: var(--font-size-4);
}
.font-size-5{
    font-size: var(--font-size-5);
}
.style-ms-title{
    font-family: var(--fontOne);
    color: var(--color2);
    font-weight: 900;
}
.style-ms-title2{
    font-family: var(--fontOne);
    line-height: 100px;
    color: var(--color4);
    font-weight: 900;
}
.style-ms-parrafo{
    font-family: var(--fontTwo);
    line-height: 40px;
    color: var(--color1);
    margin: 40px 0 40px 0;
}
.style-ms-parrafo2{
    font-family: var(--fontTwo);
    line-height: 40px;
    color: var(--color3);
    margin: 40px 0 40px 0;
}
.style-ms-parrafo3{
    font-family: var(--fontTwo);
    line-height: 40px;
    color: var(--color3);
    margin: 40px 0 40px 10px;
    text-align: left;
}
.style-ms-parrafo4{
    font-family: var(--fontTwo);
    line-height: 40px;
    color: var(--color4);
    margin: 40px 0 40px 10px;
}
.style-ms-parrafo5{
    font-family: var(--fontTwo);
    line-height: 40px;
    color: var(--color1);
    margin: 40px 0 40px 10px;
}
.style-ms-parrafo6{
    font-family: var(--fontTwo);
    line-height: 40px;
    color: var(--color2);
    margin: 40px 0 40px 0;
}
.style-ms-parrafo7{
    font-family: var(--fontOne);
    color: var(--color8);
    font-weight: 900;
}
.style-ms-parrafo8{
    font-family: var(--fontOne);
    color: var(--color8);
    font-weight: 900;
    text-align: left;
}
.style-ms-parrafo9{
    font-family: var(--fontOne);
    color: var(--color4);
    font-weight: 900;
    margin: 5px 0 0 0;
}
.style-ms-parrafo10{
    font-family: var(--fontTwo);
    line-height: 40px;
    color: var(--color3);
    margin: 0 0 -20px 0;
}
.style-ms-title3{
    font-family: var(--fontOne);
    line-height: 90px;
    color: var(--color6);
    font-weight: 900;
}
.style-ms-title4{
    font-family: var(--fontOne);
    line-height: 90px;
    color: var(--color7);
    font-weight: 900;
}
.style-title-pasos{
    font-family: var(--fontOne);
    color: var(--color4);
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
}
.style-parrafo-pasos{
    font-family: var(--fontTwo);
    line-height: 40px;
    color: var(--color4);
    margin: 15px 0 40px 10px;
}
.content-box1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-box2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 150px;
    margin: 20px auto 0 auto;
    background-color: var(--color5);
    border-radius: 100px 100px 100px 100px;
    -moz-border-radius: 100px 100px 100px 100px;
    -webkit-border-radius: 100px 100px 100px 100px;
}
.content-box-3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-box-3-int{
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    background-color: var(--color2);
    height: 20px;
}
.img-examen{
    margin: 20px;
}
.content-box-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contenedor-ms-section1{
    width: 100%;
    padding: 50px 0 50px 0;
    background: #EAEAEA;
}
.contenedor-ms-section2{
    padding: 50px 0 0 0;
    text-align: center;
}
.contenedor-ms-section3{
    margin: 50px 0 0 0;
    padding: 50px 0 0 0;
    text-align: center;
    background-color: var(--color5);
}
.contenedor-ms-section4{
    padding: 50px 0 50px 0;
    text-align: center;
}
.contenedor-ms-section5{
    text-align: center;
    background-color: var(--color7);
    padding: 50px 0 50px 0;
}
.contenedor-ms-section6{
    padding: 50px 0 0 0;
    text-align: center;
}
.contenedor-ms-logo-parrafo{
    width: 80%;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;  /* fallback for old browsers */
    -webkit-box-shadow: 0px 2px 68px 8px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 2px 68px 8px rgba(0,0,0,0.62);
    box-shadow: 0px 2px 68px 8px rgba(0,0,0,0.62);
    text-align: center;
    padding: 20px 0 20px 0;
}
.logo-fundacion-copservir{
    margin: 10px 0 10px 0;
}

.pasos {
    width: 200px;
    background: var(--color2);
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);
    margin: 0 auto 0 auto;
}


/* On screens that are 992px or less*/
@media screen and (max-width: 992px) {
    .font-size1{
        font-size: 2.8em;
    }
    .font-size2{
        font-size: 1.8em;
    }
  }
  
  /* On screens that are 600px or less */
  @media screen and (max-width: 600px) {
    .font-style-ms-title{
        font-family: var(--fontOne);
        margin: 0 0 20px 0;
    }
    .font-size1{
        font-size: 2.8em;
    }
    .font-size2{
        font-size: 1.8em;
    }
    .font-style-ms-parrafo{
        line-height: 30px;
    }
    .contenedor-ms-section2{
        width: 100%;
        padding: 50px 0 50px 0;
        text-align: center;
    }
    .contenedor-ms-logo-parrafo{
        width: 100%;
        margin-top: -70px;
        border-radius: 0px 0px 0px 0px;
        -moz-border-radius: 0px 0px 0px 0px;
        -webkit-border-radius: 0px 0px 0px 0px;
        background: #fff;  /* fallback for old browsers */
        -webkit-box-shadow: 0px 2px 68px 8px rgba(0,0,0,0.62);
        -moz-box-shadow: 0px 2px 68px 8px rgba(0,0,0,0.62);
        box-shadow: 0px 2px 68px 8px rgba(0,0,0,0.62);
        text-align: center;
        padding: 20px 10px 20px 10px;
    }
    .logo-fundacion-copservir{
        width: 280px;
        margin: 10px 0 10px 0;
    }
}